.disk-overview {
	font-size 20px
	font-family Comic Sans MS, Comic Sans, cursive
	margin 20px 0 40px 0
}

.disk-chart {
    margin-top 50px
    width 80%
    display flex
    justify-content space-between
}

.disk-chart-frame {
    border 1px #c4c4c4 solid
    width 45%
}

.disk-chart-table-space {
    margin: 20px 0 100px 0
}