*
  margin 0
  padding 0

.drawer-list-width {
	width 320px
}

.drawer-title-pos {
	display flex
	justify-content space-between
	align-items center	
	margin 25px
}

.drawer-search-pos {
	position relative
	margin 0 0 20px 20px
}

.drawer-title { 
	font-size 22px
	font-weight bold
}

.drawer-home-btn {
	text-decoration none
	color black
	padding 3px
}

.drawer-home-btn:hover {
	background-color #f1f1f1
}

.searchbox_block {
	position relative
	width 320px
	height 30px
	margin-bottom 25px
	display flex
	justify-content center
}

.searchbox_icon {
	position absolute
	left 30px
	top calc(50% - 0.4em)
}

.searchbox_input {
	border 1px #C4C4C4 solid
	box-shadow 0 2px 6px 0 rgba(0,0,0,0.2)
	border-radius 30px
	outline none
	width 90%
	height 100%
	font-size 14px
}

.searchbox_block input {
	text-indent 50px
}

.link-default {
	text-decoration none
	color black
}