.tem-table {
  border-collapse separate
  border-spacing 0
  border-radius 10px
  border-left 1px solid #ddd
  border-right 1px solid #ddd
  box-shadow 0 2px 4px 0 rgba(0,0,0,0.2)
}

.tem-tr th {
  padding 10px 20px 10px 20px
  background-color #d1dfe8
  text-align left
  font-family Andale Mono, monospace
  font-size 17px
  font-weight bolder
}

.tem-tr td {
  padding 10px 20px 10px 20px
  border-bottom 1px solid #ddd
  font-family Andale Mono, monospace
  font-size 17px
}

.tem-tr th:first-child {
  border-top-left-radius 10px
}

.tem-tr th:last-child {
  border-top-right-radius 10px
}

.tem-tr tr:last-child td:first-child {
  border-bottom-left-radius 10px
}

.tem-tr tr:last-child td:last-child {
  border-bottom-right-radius 10px
}

