.tabs-ul {
    list-style-type none
    margin 0
    padding 0
    position relative
    border-bottom 1px solid #dee2e6
}

.tabs-li {
    display inline
}

.nav-click {
    border none
    background-color white
    padding 10px 20px 10px 20px
    font-size 18px
    font-family Andale Mono, monospace
    cursor pointer
}

.nav-click.focus {
    border 1px solid #dee2e6
    margin-bottom -1px
    border-top-left-radius 5px
    border-top-right-radius 5px
    border-bottom 1px solid white
    color gray
}

.tab-content {
    padding 20px
    font-size 18px
}



