.tb-title {
	font-size 30px
	font-family Comic Sans MS, Comic Sans, cursive
	margin 50px 0  30px 0
}

.tb-title-bg {
	background-color #8A98B1
}

.tb-des {
	font-size 17px
	font-family Andale Mono, monospace
}

.subtitle {
	font-size 25px
	font-family Comic Sans MS, Comic Sans, cursive
	margin 25px 0 25px 10px
}

.script {
	width 90%
	font-size 18px
	border 1px #d0d6dc solid
	padding 10px
}

.edit-btn {
	border none
	background-color #d1dfe8
	cursor pointer
}

.edit-btn:hover {
	transform scale(1.2)
}

.edit-input {
	height 30px
	width 300px
	border 1px #C4C4C4 solid
	border-radius 10px
	outline none
	padding-left 10px
	font-family Andale Mono, monospace
    font-size 16px
}

.edit-input:focus {
	border 1px solid #DBA901
}

/* width */
#style-3::-webkit-scrollbar {
	height 7px
}

/* Track */
#style-3::-webkit-scrollbar-track {
	background-color white
	border-radius 10px
}

/* Handle */
#style-3::-webkit-scrollbar-thumb {
	background #ccd6d2
	border-radius 10px
}

